*.db
*.db-wal
ihbff/build/ihbanalyze-loc.xml
*.db-shm
*.npp
*.ali
*.o
*.hex#
*.bin
*.dump
*.pp
ihbff/build/ahex2bin

*.bexch

*.cgpr

ihbff/build/ihbranalyze
*.out
*.ini
*.xml

*.log
stm32f4/Hello/build/hello
