<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if func == "add" %}
    <h1>Add New Tutor</h1>
{% else %}
    <h1>Edit Tutor</h1>
{% endif %}

    <form method='POST' enctype='multipart/form-data'>
        <table>
            <tr>
                <th>Item Name</th>
                <th>Item Value</th>
            </tr>

            <tr>
                <td>First Name (Reqd): </td>
                <td><input type="text" name="firstname" value="{{person.firstname}}"></td>
            </tr>
            <tr>
                <td>Last Name (Reqd): </td>
                <td><input type="text" name="lastname" value="{{person.lastname}}"></td>
            </tr>
            <tr>
                <td>Address Line 1: </td>
                <td><input type="text" name="address1" value="{{person.address1}}"></td>
            </tr>
            <tr>
                <td>Address Line 2: </td>
                <td><input type="text" name="address2" value="{{person.address2}}"></td>
            </tr>
            <tr>
                <td>City: </td>
                <td><input type="text" name="city" value="{{person.city}}"></td>
            </tr>
            <tr>
                <td>State (Reqd): </td>
                <td>
                <select name="state">
                     {% for s in states %}
                        {% if s == person.state %}
                            <option value="{{person.state}}" selected>{{person.state}} </option>
                        {% else %}
                            <option value="{{s}}">{{s}} </option>
                        {% endif %}
                     {% endfor %}

                </select></td>
            </tr>
            <tr>
                <td>Zip: </td>
                <td><input type="text" name="zip" value="{{person.zip}}"></td>
            </tr>
             <tr>
                <td>Phone1: </td>
                <td><input type="tel" name="phone1" value="{{person.phone1}}"></td>
            </tr>
             <tr>
                <td>Phone2: </td>
                <td><input type="tel" name="phone2" value="{{person.phone2}}"></td>
            </tr>
             <tr>
                <td>Email (Reqd): </td>
                <td><input type="email" name="email" value="{{person.email}}"></td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th>Item Name</th>
                <th>Item Value</th>
            </tr>
                <td>Instrument1(Reqd):</td>
                <td><select name="modality1">
                     {% for m in allm %}
                        {% if m.name == mod.name %}
                            <option value="{{m.name}}" selected>{{m.name}} </option>
                        {% else %}
                            <option value="{{m.name}}">{{m.name}} </option>
                        {% endif %}
                     {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Instrument2:</td>
                <td><select name="modality2">
                     {% for m in allm %}
                        <option value="{{m.name}}">{{m.name}}</option>
                     {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Genre:</td>
                <td><input type="text" name="genre" value="{{tutor.genre}}"></td>
            </tr>
            <tr>
                <td>Teach Over Internet?:</td>
                <td><input type="text" name="tchoverinternet" value="{{tutor.tchoverinternet}}"></td>
            </tr>
            <tr>
                <td>Web Page: </td>
                <td><input type="url" name="website" value="{{tutor.website}}"></td>
            </tr>

        </table>

        <input type="submit" value="Submit" />
    </form>
</body>
</html>