<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>List of Tutors</h1>
<br>
<table>
   {% for i in alltutors %}
    <tr>
        <td>{{i[0].id}}</td>
        <td>{{i[0].firstname}}</td>
        <td>{{i[0].lastname}}</td>
        <td>{{i[2].name}}</td>
        <td>{{i[1].id}}</td>
        <td>{{i[1].genre}}</td>
        <td><a href="{{url_for('rt_edittutor',t_id=i[1].id, _external=True)}}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="/tutors/new">Add New Tutor</a>
<br>
<a href="/">Home</a>
</body>
</html>